.expense-container {
  padding: 20px;
}

.expense-item {
  background-color: #333;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.expense-details {
  color: white;
}

.expense-description {
  font-weight: bold;
  margin-bottom: 5px;
}

.expense-amount {
  margin-bottom: 5px;
}

.expense-group {
  margin-bottom: 5px;
}

.expense-date {
  margin-bottom: 0;
}

.btn {
  margin-left: 1%;
}
