#root { 
  margin: 0 auto;
  text-align: center;
}
body {
  background-color: #333; /* Dark theme background color */
  color: #f5f5f5; /* Text color for the dark theme */
}
:root {
  --dark-mode-button: rgb(255, 255, 255);
  --light-mode-button: rgba(92, 103, 109);
  --light-mode-background: #f0f8ff;
  --dark-mode-background:rgb(33, 37, 41);
}








